# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# IDEs
.vscode/
.idea/
.gemini/

# OS
.DS_Store
Thumbs.db

# Caria IA Specific
backend/uploads/*
!backend/uploads/.gitkeep
