# Configurações do Banco de Dados
# Railway fornece DATABASE_URL automaticamente se você adicionar um plugin de PostgreSQL
DATABASE_URL=postgresql://user:password@host:port/dbname

# Segurança
SECRET_KEY=sua_chave_secreta_aqui_para_producao

# Outras Configurações
PORT=8000
